body {
  margin: 0 auto;
  background-color: #E1ECF9;
  color: #091D34;
  .wrapper {
  }
}
header {
  padding: 20px;
  background: #609CE1;
}
main {
  margin: 25px;
  overflow-x: auto;
  .filter-panel-separator {
    height: 1px;
    background-color: #b7c6d6;
    margin-top: 25px;
  }
  .search {
    padding: 13px 12px;
    background: #fff;
    border: 1px solid #ced4da;
    input {
      border: 0;
      outline: none;
      background: #fff;
      width: calc(100% - 25px);
      &::placeholder {
        font-size: 16px;
        text-transform: capitalize;
      }
    }
  }
  .button-create {
    width: 100%;
    padding: 14px;
  }
  .custom-select {
    border-radius: 0;
    height: 55px;
  }

  .popup {
    .modal-body {
      .mandatory-field {
        color: red;
      }
    }
    .modal-footer {
      button {
        width: 50%;
      }
    }
  }
  .todo-list {
    overflow-y: auto;
    height: calc(100vh - 275px);
    padding: 10px 0;
    .task {
      width: 24%;
      background: #fff;
      margin: 20px 6px;
      padding: 10px 15px;
      color: #1d0d31;
      display: inline-block;
      vertical-align: top;
      position: relative;
      .check-done {
        color: green;
        display: none;
        position: absolute;
        top: -10px;
        right: -5px;
      }
      &.task-finished {
        background:#f8f9fa;
        opacity: 0.7;
        .check-done { 
          display: block;
        }
      }
      button {
        background: #fff;
        color: #26490d;
        border: 0;
        padding: 5px 10px;
        outline: none;
        .custom-select {
          border: 0;
          height: 35px;
        }
        
      }
      .title {
        font-size: 20px;
        font-weight: 500;
      }
      .description {
        padding: 10px 0;
        color: #13386378;
      }
      .priority {
        float: left;
        padding: 5px 10px;
        text-transform: capitalize;
        font-size: 14px;
        background-color: #18467b;
        color: #fff;
        border-radius: 5px;
        &.priority-normal {
          background-color: #236AB9;
        }
        &.priority-low {
          background-color: #609CE1;
        }
      }
      .status {
        float: right;
        border: 1px solid #e6e6e6;
        border-radius: 50%;
        .edit {
          padding: 5px 10px;
          border-radius: 50%;
          color: #737892;
        }
      }
    }
  }
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #96adc582;
  font-size: 20px;
  color: #969696;
  h2 {
    font-size: 19px;
    margin: 10px;
  }
}
